{% extends "base.html" %}

{% block title %}
NetInsight | Infrastructure Intelligence Platform
{% endblock %}

{% block content %}

<div class="container">

    <section class="hero">

        <h1 class="display-3 fw-bold">

            NetInsight

        </h1>

        <p class="lead">

            Website Infrastructure Health Analyzer

        </p>

        <p class="description">

            Analyze your website's infrastructure health by checking DNS
            configuration, SSL certificates, HTTP availability,
            security headers and overall connectivity.

        </p>

        <form
            action="/analyze"
            method="POST">

            <div class="input-group input-group-lg">

                <input
                    class="form-control"
                    type="text"
                    name="domain"
                    placeholder="Enter a domain or paste a full website URL."
                    required>

                <button
                    class="btn btn-primary"
                    type="submit">

                    Analyze Infrastructure

                </button>

            </div>

        </form>

    </section>

</div>

{% endblock %}